body {  font-family: Arial, Verdana; /* Семейство шрифтов */
  font-size: 12pt; /* Размер основного шрифта в пунктах  */
  background-color:rgb(230, 165, 230); /* Цвет фона веб-страницы */
  color: rgb(0, 0, 0) /* Цвет основного текста */ 
}